html {
  font-family: Helvetica;
}
h1 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  color: khaki;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}
h3 {
  color: white;
  font-size: 32px;
  font-weight: bold;
}
#brushes {
  background-color: #00fa9a;
}
#frames {
  background-color: #f28a8b;
}
#paint {
  background-color: #92d4ee;
}
